/nbproject/private/
/ProyectSanax-ejb/nbproject/private/
/ProyectSanax-war/nbproject/private/
/ProyectSanax-ejb/dist/
/ProyectSanax-ejb/build/
/dist/
/build/
/ProyectSanax-war/dist/
/ProyectSanax-war/build/