
body {
    background-color: #D3D3D3 ;
	padding:0px 0px;
}

.b1{
    background: #93c8a6;
    border-radius: 5px;
}

.b2{
    background: #79b890;
    border-radius: 5px;
}

.b3{
    background: #5b9a72;
    border-radius: 5px;
}

.b4{
    background: #4d8d64;
    border-radius: 5px;
}

.b5{
    background: #3e8257;
    border-radius: 5px;
}
.b6{
    background: #276d41;
    border-radius: 5px;
}

.b7{
    background: #316343;
    border-radius: 5px;
}

.b8{
    background: #14562c;
    border-radius: 5px;
}

.b9{
    background: #0c401f;
    border-radius: 5px;
}

.b10{
    background: #072a14;
    border-radius: 5px;
}

.b11{
    margin-left: 55px;
    border-style: inset;
}

.cabecera{
    background-color:white;
	color:green;
	display:inline-block;
	width:1300px;
	padding:0px 15px;
	position:relative;
	margin: 0 -4px;
}
.lista{
    list-style:none;
	width:200px;
	display:inline-block;
    padding:0px 40px;
	float:right;
}
h1{
	float:left;
	width:800px;
}
.saludo{
	float:left;
	width:1300px;
	background-color:#696969;
	color:white;
	padding:0px 15px;
	margin: 0 -4px;
}
.mensaje{
	float:left;
	width:1300px;
	background-color:blue;
	color:white;
	padding:0px 15px;
	margin: 0 -4px;
}

